body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: pink;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-top: 0;
    color:white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: black;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell[data-player="X"] {
    color: white;
}

.cell[data-player="O"] {
    color: pink;
}


.message {
    color :black;
    font-size: 24px;
    
}

.restart-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
